{% extends "base.html" %}

{% block content %}

    <div style="height: 10px"></div>
    <h3 style="text-align: center">Stories</h3>
    <div style="height: 10px"></div>

    <div class="row">
        {% for story in stories %}
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ story.id }}">
                            <h5 class="card-title">{{ story.name }}</h5>
                        </a>
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}