{% extends "base.html" %}

{% block content %}

    <div style="height: 10px"></div>
    <img class="float-left mb-2 mr-2" src="{{ character.portrait.url }}" style="width: 200px; height: 200px;"/>
    <h4>Name: {{ character.name }}</h4>
    <h5>Age: {{ character.get_age }} years</h5>
    <p>{{ character.backstory }}</p>

    <div class="row">
        {% for image in character_images %}
            <img src="{{ image.image.url }}" style="width: 20%;">
        {% endfor %}
    </div>

{% endblock %}