<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>{{ project_name }}</title>
    {% block optional_css %}
    {% endblock %}
</head>
<body style="background-color: #eeeeee">

<div style="height: 40px; background-color: #ffffff"></div>
<div class="row" style="background-color: #ffffff">
    <div class="col-1"></div>
    <div class="col-10">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="/characters"><h4 style="margin: 0 10px 0 10px">Characters</h4></a>
            </li>
            <li class="nav-item">
                <a href="/items"><h4 style="margin: 0 10px 0 10px">Items</h4></a>
            </li>
            <li class="nav-item">
                <a href="/places"><h4 style="margin: 0 10px 0 10px">Places</h4></a>
            </li>
            <li class="nav-item">
                <a href="/stories"><h4 style="margin: 0 10px 0 10px">Stories</h4></a>
            </li>
        </ul>
    </div>
    <div class="col-1"></div>
</div>
<div style="height: 20px; background-color: #ffffff"></div>
<div style="height: 60px;"></div>


<div class="row">
    <div class="col-2"></div>
        <div class="col-8" style="background-color: #ffffff">
            {% block content %}
            {% endblock %}
        </div>
    <div class="col-2"></div>
</div>

    {% block optional_js %}
    {% endblock %}
</body>
</html>